<Files *>
order deny,allow
deny from all
allow from .*mandora\.xyz.*
</Files>

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]
RewriteRule \.(md|config)$ - [NC,F,L]
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://(azure\.)?mandora.xyz [NC]
RewriteRule ^(.*)$ - [NC,F,L]