.page-footer ul li:after, .page-footer ul li:before {
  background-color: green;
}

.feature-box .icon {
  color: #28a745;
}

.clean-block.clean-form form {
  border-top: 2px solid #28a745;
}

.clean-block.clean-form ul {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.clean-block.clean-post .post-body .post-info span:not(:last-child) {
  color: #28a745;
}

.clean-block.clean-post .post-body .post-info span {
  color: #28a745;
}

